/*--- Colores--- */
:root{
    --primary-color: #110903;
    --secondary-color: #fcefde;
}


/*--- z index ---*/
:root{
    --z-fixed: 100;
}
html {
    font-size: 62.5%;
}

body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color:var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.5;
}

    /* FONTS */
@font-face {
  font-family: "SixCaps";
  src: url("../fonts/SixCaps-Regular.ttf");
}

/*--- BASE ---*/

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,a,small{
    color: var(--secondary-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}



    /* ------PAGE------ */

    .page{
        overflow:hidden;
        background-color: var(--primary-color);
    }