/* SWIPER */
.swiper-container {
    width: 100vw;
    height: 100vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change active bullet color*/
.swiper-pagination-bullet{
    background-color: antiquewhite !important;
}

/* COVER */

/* LANG */
.header__language{
  position: absolute;
  left: 1%;
  top: 1%;
  
  width: 10rem;

  cursor: pointer;
  line-height: 1.5;
  z-index: 2000;
}

.header__language > ul{
  display: flex;
  padding: 0 2%;
  /* background-color: rgb(97, 34, 34); */
  background-color: antiquewhite;
  border-radius: 10px;
}

.header__language > ul > li > button{
  border: 0;
  
  background-color: transparent;
  color: var(--brown);
  

  transition: background-color .2s linear, transform .2s linear;
}
.header__language > ul > li:hover > button:not(.selected){
  transform: scale(1.1);
  cursor: pointer;
}

.header__language > ul > li > button.selected{
  transform: scale(1.3);
  background-color: hsl(0, 45%, 20%);
  border-radius: 5px;
  color: antiquewhite;
}
/* END LANG */

.cover__container {
  position: relative;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.cover__title {
  font-size: 5rem;
  opacity: 0;
}
.cover__title-3{
  font-size: 3rem;
  opacity: 0;
}
.cover__subtitle{
  display: flex;
  flex-direction: row;
  font-size: 3rem;
}


/* AFTER TITLE */

.cover__after-title{
  position: absolute;
}

.cover__after-title > h1{
  font-family: "SixCaps";
  color: antiquewhite;
  font-size: 25rem;
  letter-spacing: 2px;
}

.after-title__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -50px;
}

.after-title__text > p{
  font-size: 3.5rem;
  margin: 0 5px;
}



/* ABOUT */

.about{
  background-color: var(--primary-color);
}

.about__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  height: 70%;
}

.about__img{
  flex: 1;
  align-self: center;
}

.about__img > img{
  width: 70%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 50%;
}

.about__block{
  flex: 1;
  align-self: center;
  margin: 0 auto;
  margin:-10% 10% 0 0;
}

.about__subtitle{
  font-size: 7rem;
}

.about__text{
  margin-top: 20px;
  line-height: 1;
}
.typewriter{
  margin: 0 auto;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;  
  opacity: 0;
}

/* WORKS */
.works{
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
}
.works__container{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  display: flex;
  flex-direction: column;
}
.works__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__item{
  width: 30%;
  border-radius: 20px;
}
/* IMAGE EFECT */

.work__image{
  width: 50%;

  position: relative;
  color: var(--secondary-color);
  margin: 20px auto;
}

.work__image span{
  position: absolute;

  transition: all .5s ease ;
}
.work__image img{
  border-radius: 10px;
  opacity: .5;
}

.work__image .border-left{
  height: 0;
  width: 5px;
  top: 0;
  left: 0;

  border-radius: 10px;
  background: linear-gradient(to bottom right, var(--secondary-color) 50%,  transparent 60%);
}
.work__image .border-bottom{
  height: 5px;
  width: 0;
  bottom: 0;
  left: 0;

  border-radius: 10px;
  background: linear-gradient(to top right, var(--secondary-color) 50%,  transparent 60%);
}
.work__image .border-right{
  height: 0;
  width: 5px;
  bottom:0;
  right:0;

  border-radius: 10px;
  background: linear-gradient(to top left, var(--secondary-color) 50%,  transparent 60%);
}
.work__image .border-top{
  height: 5px;
  width: 0;
  top: 0;
  right: 0;

  border-radius: 10px;
  background: linear-gradient(to bottom left, var(--secondary-color) 50%,  transparent 60%);
}
.work__image:hover .border-left,
.work__image:hover .border-right{
  height: 100%;
}
.work__image:hover .border-bottom,
.work__image:hover .border-top{
  width: 100%;
}
.work__image:hover img{
  transition-duration: .5s;
  opacity: 1;
}
/* END IMAGE EFECT */


.work__text-item{
  font-size: 2rem;
  color: var(--secondary-color);
}

/* WORkS BTN */
.works__btn{
  margin-top: 5rem;
  align-self: center;
  width: 15rem;
  position: relative;

  text-transform: uppercase;
  
  color: var(--primary-color);
  background: var(--secondary-color);
  border: none;
  transition: all 0.7s ease;
}
.works__btn:hover {
  background: transparent;
  color: var(--secondary-color);
}
.works__btn:hover:before,
.works__btn:hover:after {
  transition: all 0.7s ease;
  width: 100%;
}
.works__btn:before,
.works__btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: var(--secondary-color);
  transition: all 0.4s ease;
}
.works__btn:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}


/* FOOTER */

.footer {
	background-color: #110903;
	color: antiquewhite;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: left;
}

.footer__info {
	padding: 30px 0 30px 50px;
  width: 70%;
	margin: 0 auto;
}

.footer__info > h2 {
	font-size: 8rem;
  padding: 10% 0 15px 0;
}

.footer__contact {
  font-size: 22px;
  width: 70%;
  padding: 30px 0 30px 50px;
  margin: 0 auto;
}

.footer__sns {
  width: 70%;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.sns__links {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.linkedin,
.github,
.facebook {
  color: antiquewhite;
  font-size: 35px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
}

.linkedin:hover,
.github:hover,
.facebook:hover {
  border-color: antiquewhite;
  transition: all 0.3s ease-out;
}

.footer__design-by{
  font-size: 18px;
  padding-left: 50px;
  color: antiquewhite;
}
